body {
    background-color: black;
    color: white;
}

.header {
    .part-1  {
        ul {
          li {
             display: inline-block;
             margin: 10px;
          }
          li:first-child {
             float: left;
          }
          li:not(:first-child) {
             float: right;
          }
        }  
     }
     
     .part-2 {
         display: flex;
         justify-content: center;
         align-items: center;
         margin-top: 50px;
        //  position: absolute;
        //  top: 35%;
        //  left: 50%;
        //  transform:translate(-50%, -50%);     
     }
}

.main {
    .part {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.main-2 {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
}